openapi: 3.0.1
info:
  title: Items Connect Categories Delivery API
  description: 'The Items Connect API streamlines the listing process by allowing sellers to programmatically post items for sale, offering an efficient alternative to creating individual item listings through the user interface.

    '
  version: 0.0.1
servers:
- url: https://connect.wallapop.com
  description: Production
security:
- oAuthWithPKCE: []
tags:
- name: Delivery
paths:
  /deliveries/{deliveryId}/status:
    patch:
      tags:
      - Delivery
      parameters:
      - in: path
        name: deliveryId
        required: true
        schema:
          type: string
          format: uuid
        description: Delivery ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeliveryStatusRequest'
      summary: Update a tracking status for a delivery.
      description: Perform an update to a delivery's tracking status.
      operationId: updateDeliveryStatus
      responses:
        '204':
          description: Successfully updated the delivery status.
        '403':
          description: Forbidden. The user does not have permission to access the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict. There is a conflict with the current state of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    UpdateDeliveryStatusRequest:
      type: object
      description: Needed information to update a delivery tracking status.
      properties:
        status:
          type: string
          enum:
          - DELIVERED_TO_CARRIER
          - IN_TRANSIT
          - DELIVERED
          - FAILED
          - CANCELLED
          description: Status to which update the delivery to.
    Error:
      type: object
      required:
      - code
      - message
      description: Detailed information about the error encountered.
      properties:
        code:
          type: string
          enum:
          - INVALID_ACCEPT_REQUEST
          - USER_UNAUTHORIZED
          - NOT_FOUND
          - ONGOING_DELIVERY
          - USER_IS_NOT_THE_SELLER
          - INVALID_REGISTER_REQUEST
          - ERROR_UPDATING_DELIVERY_STATUS
          description: A standardized error descriptor.
          example: INVALID_ACCEPT_REQUEST
        message:
          description: A detailed error message.
          type: string
          example: Request `1a24c9e4-32c9-44ea-8f63-9e4f2ba54725` status is not `PENDING`. It is `ACCEPTED`.
  securitySchemes:
    oAuthWithPKCE:
      type: oauth2
      description: The Items Connect API uses OAuth 2.0 Authorization Code flow with a Proof Key for Code Exchange.
      flows:
        authorizationCode:
          authorizationUrl: https://iam.wallapop.com/realms/wallapop-connect/protocol/openid-connect/auth
          tokenUrl: https://iam.wallapop.com/realms/wallapop-connect/protocol/openid-connect/token
          refreshUrl: https://iam.wallapop.com/realms/wallapop-connect/protocol/openid-connect/token
          scopes: {}
